* {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

html {
    scroll-behavior: smooth;
  }



.hero {
    position: relative;
    background-image: url(huzaifa1.jpg);
    max-width: 100%;
  height: auto;
    background-size: cover;
    
   
}

.hero::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.164);
    background-color: rgba(0, 0, 0, 0.74);
    
  }





.container {
    margin-left: 20%;
    margin-right: auto;
    padding-top: 20rem;
    padding-bottom: 20rem;
    
    
}

h1 {
    
    position: relative;
    color: rgb(255, 255, 255);
    font-size: clamp(50px , 10vw , 100px);
    width: 50%;
    
}

/* @media (max-width: 30rem) {
    h1 {
        font-size: 60px;
    }
} */

h2 {
    position: relative;
    color: white;
    font-size: clamp(20px , 5vw , 60px);
}
.btn1 {
    color: black;
    position: relative;
    line-height: 100px;
    font-weight: 600;
    padding: 15px 21px;
    background-color: rgb(166, 255, 0);
    border: 1px solid rgb(166, 255, 0);
    text-decoration: none;
    border-bottom-left-radius: 980px;
    border-bottom-right-radius: 980px;
    border-top-left-radius: 980px;
    border-top-right-radius: 980px
  
 
}

section {
  margin-left: auto;
  overflow: hidden;
}

#middle-container {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgb(26, 24, 24) 0%, rgba(0,0,0,1) 100%); 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30rem;
}

h3 {
    padding-top: 6rem;
    padding-bottom: 5rem;
}

/* CARD */

.card-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 80px;
   margin-left: auto;
   margin-right: auto; 
    max-width: 190px; */
    margin-left: auto;
    /* min-width: 214px;
    max-width: 200rem; */
    width: 30rem;
   margin-right: auto; 
    height: 254px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
    -15px -15px 15px rgb(60, 60, 60);
     padding: 20px;
   }
   
   @media (max-width : 580px) {
    .card-center {
      width: 214px;
    }
   }
  



a {
  text-decoration: none;
}



   /* BUTOOONSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */

   .button-17 {
    margin: 3px;
    align-items: center;
    appearance: none;
    background-color: rgb(166, 255, 0);
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 13rem;
    will-change: transform,opacity;
    z-index: 0;
  }
  
  .button-17:hover {
    background: #F6F9FE;
    color: #174ea6;
  }
  
  .button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .button-17:focus {
    outline: none;
    border: 2px solid #000000;
  }
  
  .button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgb(0, 0, 0) 0 4px 8px 3px;
  }
  
  .button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  .button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }


